body {
    background-image: url(images/mariokart.jpg);
    margin: auto;
    text-align: auto;
    background-size:120%;
}
.container {
    background-color: white;
    border-radius: 5px;
    width: 600px;
    margin: auto;
    text-align: auto;
    padding: 10px 60px;
    margin-top: 10px;
    border: solid black 1px;
}
img {
    padding-left: 150px
}
h1,h2,h3,p,h4,ul,ol,li {
    font-family: 'Open Sans', sans-serif;
}
.jpg{
    width: 40px
}
